/* Footer styles */

.bot {
    padding: 25px;
    background: rgb(44, 51, 68);
    color:rgb(244, 244, 235);
    font-weight: bold;
    text-align: center;
    line-height: 120%;

    h5 {
        font-size: 18px;
        margin: 10px 0px 5px;
    }

    p {
        font-size: 18px;
        margin: 10px 0px;
    }

    a {
        display: block;
        font-weight: normal;
        color:rgb(244, 244, 237);
        text-decoration: none;
        margin: 0px 0px 10px;
    }
}
.icons p {
    display: inline-block;

    a  {
        display: block;
        margin: 0px 5px;
        width: 36px;
        height: 36px;
        font-size: 0px;
        background: url(/images/icons/github.svg);
    }
}
.icons p:first-child a {
    background: url(/images/icons/linkedin.svg) no-repeat;
}
.icons p:last-child a {
    background: url(/images/icons/instagram.svg);
}