html, body {
    font-family: Signika, sans-serif;
    text-rendering: geometricPrecision;
    margin: 0;
    padding: 0;
}
.border {
    box-sizing: border-box;
}
.main-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/* Buttons style responsivity */

.buttons {
    padding: 30px;
    display: flex;
    justify-content: center;
}
.grid {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr ;
    grid-template-rows: repeat(2, 1fr);
}
@media  (min-width: 768px) {
    .grid {
        display: grid;
        justify-content: center;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(2, 1fr);
    }
}
.item {
    padding: 5px;
}

@font-face {
    font-family: Signika;
    src: url(font/Signika-VariableFont_wght.ttf);
}

/* 1 */ @import 'translator'; 
/* 2 */ @import 'sc-top'; 
/* 3 */ @import 'buttons';
/* 4 */ @import 'main-presentation';
/* 5 */ @import 'description';
/* 6 */ @import 'aboutme';
/* 7 */ @import 'sc-bot';