.description {
    position: relative;
    padding: 50px 0px;
    background: rgb(44, 51, 68);
    color: rgb(244, 244, 237);
}
.description::after {
    position: absolute;
    bottom: 5px;
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background: url(images/icons/separador-azul.svg);
}
@media (max-width: 768px) {
    .description {
        margin: 0px;
        padding: 500px 0px 50px;
    }
}
.description p {
    font-size: 22px;
    line-height: 150%;
    max-width: 580px;
    margin: 30px auto;
    font-weight: normal;

}
@media (max-width: 768px) {
    .description p {
        font-size: 18px;
        max-width: 265px;
    }
}
.aboutme {
    max-width: 1180px;
    margin: 0px auto;
    padding: 0px 20px;
}
.aboutme p a {
    color: #0170ed;
}